<router-outlet></router-outlet>


<footer class="footer mt-auto   fixed-bottom d-flex justify-content-center">
    
    <div class="w-50  bg-light " routerLinkActive="border-top border-5 border-danger">
      <div  class="d-flex justify-content-center align-items-center " routerLink="/actividades" routerLinkActive="text-danger" style="cursor: pointer;">
        <i class="fa-regular fa-calendar me-lg-5 me-2 me-md-5 fa-2x "></i>
          <p class="">ACTIVIDADES</p>
      </div>   
  </div>
  <div class="w-50 bg-light" routerLinkActive="border-top border-5 border-danger">
    <div  class="d-flex justify-content-center align-items-center" routerLink="/monitores" routerLinkActive="text-danger" style="cursor: pointer;">
      <i class="fa-solid fa-user me-lg-5 me-2 me-md-5 fa-2x "></i>
        <p class="fs-5">MONITORES</p>
    </div>   
</div>
  </footer>
  